* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#clearfix {
    float: none;
    clear: both;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background: #333333;
    position: sticky;
    height: 90px;
}

#wrap-title {
    float: left;
}

#wrap-title ul{
    list-style-type: none;
}

#wrap-title ul li{
    display: block;
    padding: 10px;
    font-weight: bold;
    color: #b4b4b4;
}

#wrap-title ul li:first-child{
    font-size: 20px;
    color: white;
}

nav {
    height: 90px;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav ul li {
    float: right;
}

nav ul li a{
    display: block;
    height: 90px;
    text-decoration: none;
    line-height: 50px;
    background: #0066ff;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-right: 1px solid white;
}

nav ul li a:last-child{
    border-right: none;
}

nav ul li a:hover{
    background: #003d99;
}

main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

main h1 {
    margin-top: 20px;
    color: #002966;
}

h2 {
    margin-top: 20px;
}

table {
    width: 20%;
    margin: 0 auto;
    margin-top: 20px;
    border-collapse: collapse;
}

table tr th,td {
    border: 1px solid black;
}

th {
    background: #b3d1ff;
}