$font-1: 'Poppins',
sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-1;
}

div {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        color: royalblue;
        font-size: 30px;
        margin-bottom: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        border: 3px solid black;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 15px 0px #000000;
        box-shadow: 0px 0px 15px 0px #000000;
        margin-bottom: 10px;

        label {
            font-weight: bold;
        }

        label,
        input {
            width: 250px;
            margin: 10px;
        }

        input {
            border-radius: 15px;
            border: 1px solid black;
            padding: 15px;
            text-align: center;
            transition: all .6s;

            &:focus {
                outline: none;
            }
        }

        input[type=submit] {
            font-weight: bold;
        }

        input[type=submit]:hover {
            background-color: black;
            color: white;
        }
    }
}

.update {
    h3 {
        span {
            color: red;
        }
    }
}

footer {
    /* FOOTER en la parte inferior*/
    position: fixed;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    color: black;
    background: #dcdcdc;
    padding: 10px;
  }