body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

header img {
    width: 200px;
}

input[type=submit] {
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
}

input[type=submit]:hover {
    font-weight: bold;
    letter-spacing: 2px;
    background: #006AB6;
    color: white;
    border: 2px solid #EC164A;
}

table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: fixed;
}

table tr:nth-child(odd) {
    border: 1px solid black;
    background: rgb(236, 236, 236);
    
}

table tr th {
    border: 1px solid black;
    background: #ccc;
}

table tr td:nth-child(even) {
    border: 1px solid black;
}